* {
    margin: 0;
    padding: 0;
    font-family: 'Vesper Libre', serif;
    color: #4c3525;
}

body {
    display: flex;
    height: 100%;
    background: url('../img/coffee-background.jpeg') no-repeat center;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: xxx-large;
}

h2 {
    padding-top: 10px;
    text-decoration: underline;
}

span.name {
    font-size: x-large;
    padding: 5px;
    align-self: center;
}

span.roast {
    padding: 15px 10px;
    font-weight: bold;
}

button.coffee {
    border: none;
    background: none;
}

button.coffee:hover {
    background: rgba(255, 255, 255, .5);
}

.white-layer {
    height: 100%;
    background-color: rgba(242, 235, 230, .6);
}

span.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.parent {
    position: relative;
}

div.dark {
    background: #2b1e15;
    width: 24px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 16px;
}

div.medium {
    background: #78543b;
    width: 24px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 16px;
}

div.light {
    background: #bc9579;
    width: 24px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 16px;
}

img.child {
    position: absolute;
}

#coffees {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 37.5rem;
    overflow-y: scroll;
    margin-bottom: 0;
}

p {
    padding-top: 5px;
}

button.icon-btn {
    border: none;
    background-color: #6f4e37;
    border-radius: 10%;
    width: 30px;
    height: 30px;
}

button#submit {
    border-radius: 100%;
}

.nav-link {
    color: #4c3525;
}

.nav {
    border: none;
}

.tab-content {
    height: 12.5rem;
}

.tab-pane {
    height: 12rem;
    overflow-y: scroll;
}h4{
    padding-top: 0.5rem;
    text-decoration: underline;
 }