*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: xxx-large;
}
section {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}
div{
    flex-wrap:wrap-reverse;
}
 span.name {
     font-size: x-large;
     padding:5px;
 }
 span.roast {
     padding: 15px 10px;
 }
 img{
     display: flex;
     border: black solid 1px;
 }
.search{
    background-image: image('img/coffe-alternate.jpeg');
}
body{
    background-image: image('img/coffe-alternate.jpeg');

}

