*{
    margin: 0;
    padding: 0;
}
section {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}
div{
    flex-wrap:wrap-reverse;
}
 span.name {
     font-size: xx-large;
     padding:5px;
 }
 span.roast {
     padding: 10px;
 }


